NEXT_PUBLIC_SUPABASE_URL=https://qcioykwwkdlsajmqylke.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjaW95a3d3a2Rsc2FqbXF5bGtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1OTYwNjUsImV4cCI6MjA5NzE3MjA2NX0.RJ3WQbOfDLFl5TQalteOi5FCVhrHSenLVdQ-do0xtjA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjaW95a3d3a2Rsc2FqbXF5bGtlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTU5NjA2NSwiZXhwIjoyMDk3MTcyMDY1fQ.pX9c_wqdyGFz5e05ToGFZKHjA7i8iSfDskE6juYJ6lI
ADMIN_PASSWORD=Prince@4321
NEXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_API_KEY=re_Nfcsqt6i_MqRmupSwqeVyKXvmTRGqA8Ja
NOTIFY_EMAIL=bilblog01@gmail.com
